{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 8 - Codo a codo</title>
    <link rel="stylesheet" href="{% static 'webGOcho/styles/base.css' %}">
    {% block extracss %} {% endblock %}
</head>
<body>
    <header>
        <h1><a href="{% url 'index' %}">Grupo 8 - Codo a Codo</a></h1>
        <nav>
            <a href="{% url 'registro' %}">Registro</a>
        </nav>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{message.tags}}" {%endif%}> {{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </header>
    <main class="contenido">
        {% block main %}{% endblock %}
    </main>
    <footer>
        <p><strong>Todos los derechos reservados - Grupo 8 - Codo a codo 2024</strong></p>
    </footer>
</body>
</html>