{% extends "webGOcho/base.html" %}
{% load static %}

{% block titulo %}Inicio{% endblock %}
{% block extracss %}
    <!-- <link rel="stylesheet" href="{% static 'webGOcho/styles/index.css' %}"> -->
    <link rel="stylesheet" href="{% static 'webGOcho/styles/registro.css' %}">
{% endblock %}
<!--Agregar en main las funcionalidades propias del form de registro -->
{% block main %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Objeto del menu</h2>
       
{% endblock %}
