body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #d8a9a9, #f8d7d7);
    color: #333;
}

header {
    background: linear-gradient(to right, #d83e3e, #ff6b6b);
    color: #fff;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
    padding: 1rem;
}

section {
    background-color: #fff;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

section:hover {
    transform: scale(1.02);
}

h2 {
    margin-top: 0;
    color: #131212;
}

label {
    display: block;
    margin-top: 0.5rem;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

select:focus {
    border-color: #d83e3e;
}

footer {
    text-align: center;
    background: linear-gradient(to right, #d83e3e, #ff6b6b);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    color: #fff;
}
/*Agregar al template*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
}

.cantidad-input {
    width: 50px;
    padding: 5px;
}

.pedir-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.centrado {
    display: flex; /* Make the button a flex container */
    justify-content: center; /* Align items horizontally within the flex container */

}